/* Add Inter font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* Override default Bootstrap font */
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif !important;
}

div {
  padding: 0px;
  margin: 0px;
}

.min-h-50 {
  min-height: 100px;
}
.min-h-75 {
  min-height: 100px;
}
.min-h-100 {
  min-height: 100px;
}
.min-h-200 {
  min-height: 200px;
}
.min-h-300 {
  min-height: 300px;
}
.min-h-400 {
  min-height: 400px;
}
.min-h-500 {
  min-height: 500px;
}
.min-h-600 {
  min-height: 600px;
}

.bg-fit-contain {
  background-size: contain;
}

.bg-fit-cover {
  background-size: cover;
  background-position: center;
}

.bg-repeat-no {
  background-repeat: no-repeat;
}

/* .hero-background {
  background-image: url("./assets/images/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60%;
} */
